body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100 vh;
}
/* 渐变色滚动动画 */
@-webkit-keyframes Gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}
body {
    background: linear-gradient(-45deg, #ee7752, #ce3e75, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
    -o-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
body:before {
    background-color: rgba(0, 0, 0, 0);
}
.card{
	position: relative;
	background: #FFF;
	width: 300px;
	height: 600px;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 30px;
	overflow: hidden;
}
.card .content{
	width: 300px;
	padding: 30px;
	box-sizing: border-box;
}
.card .content p{
	margin: 5px;
	color: white;
}
.card .demo-img{
	width: 300px;
	box-sizing: border-box;
}
.card .demo-img img{
	height: 150px;
	width: 100%;
}
.card .content a{
	display: inline-block;
	margin: 10px 0 0;
	padding: 10px 20px;
	text-decoration: none;
	border: 2px solid #ffffff;
	color: #ffffff;
	font-weight: 600;
}
.card .sliderText{
	position: relative;
	width: 100%;
	height: 100px;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000;
}
.card .sliderText h3{
	color: #FFF;
	font-size: 3em;
}
.swiper-slide{
	width: 300px;
}
/**
 * 优化选择器
 */
.swiper-slide:nth-child(5n+1) .sliderText{
	background: #2196f3;
}
.swiper-slide:nth-child(5n+2) .sliderText{
	background: #e91e63;
}
.swiper-slide:nth-child(5n+3) .sliderText{
	background: #c3d41a;
}
.swiper-slide:nth-child(5n+4) .sliderText{
	background: #ff9800;
}
.swiper-slide:nth-child(5n+5) .sliderText{
	background: #c33ada;
}
a{
	position: absolute;
	transform: translate(-50%, -50%);
	width: 200px;
	height: 60px;
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: sans-serif;
	box-sizing: border-box;
	background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
	background-size: 400%;
	border-radius: 20px;
}
a:hover{
	animation: animate 8s linear infinite;
}

@keyframes animate{
	0%{
		background-position: 0%;
	}
	100%{
		background-position: 400%;
	}
}

a:before{
	position: absolute;
	top: -5px;
	left: -5px;
	right: -5px;
	bottom: -5px;
	background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
	background-size: 400%;
	border-radius: 20px;
	opacity: 0;
	transition: 0.5s;
}
a:hover:before{
	filter: blur(20px);
	opacity: 0.5;
	animation: animate 8s linear infinite;
}
