body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100 vh;
	/* background: #1CD8D2;
	background: -webkit-linear-gradient(to right, #93EDC7, #1CD8D2);
	background: linear-gradient(to right, #93EDC7, #1CD8D2);  */
	background: url("https://api.dongmanxingkong.com/suijitupian/acg/1080p/index.php")
}
.card{
	position: relative;
	background: #FFF;
	width: 300px;
	height: 600px;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 30px;
	overflow: hidden;
}
.card .content{
	width: 300px;
	padding: 30px;
	box-sizing: border-box;
}
.card .content p{
	margin: 5px;
	color: white;
}
.card .demo-img{
	width: 300px;
	box-sizing: border-box;
}
.card .demo-img img{
	height: 150px;
	width: 100%;
}
.card .content a{
	display: inline-block;
	margin: 10px 0 0;
	padding: 10px 20px;
	text-decoration: none;
	border: 2px solid #ffffff;
	color: #ffffff;
	font-weight: 600;
}
.card .sliderText{
	position: relative;
	width: 100%;
	height: 100px;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000;
}
.card .sliderText h3{
	color: #FFF;
	font-size: 3em;
}
.swiper-slide{
	width: 300px;
}
.swiper-slide:nth-child(1) .sliderText{
	background: #2196f3;
}
.swiper-slide:nth-child(2) .sliderText{
	background: #e91e63;
}
.swiper-slide:nth-child(3) .sliderText{
	background: #c3d41a;
}
.swiper-slide:nth-child(4) .sliderText{
	background: #ff9800;
}
.swiper-slide:nth-child(5) .sliderText{
	background: #c33ada;
}
.swiper-slide:nth-child(6) .sliderText{
	background: #2196f3;
}
.swiper-slide:nth-child(7) .sliderText{
	background: #e91e63;
}
.swiper-slide:nth-child(8) .sliderText{
	background: #c3d41a;
}
.swiper-slide:nth-child(9) .sliderText{
	background: #ff9800;
}
.swiper-slide:nth-child(10) .sliderText{
	background: #c33ada;
}
.swiper-slide:nth-child(11) .sliderText{
	background: #2196f3;
}
.swiper-slide:nth-child(12) .sliderText{
	background: #e91e63;
}
.swiper-slide:nth-child(13) .sliderText{
	background: #c3d41a;
}
.swiper-slide:nth-child(14) .sliderText{
	background: #ff9800;
}
.swiper-slide:nth-child(15) .sliderText{
	background: #c33ada;
}
.swiper-slide:nth-child(16) .sliderText{
	background: #2196f3;
}
.swiper-slide:nth-child(17) .sliderText{
	background: #e91e63;
}
.swiper-slide:nth-child(18) .sliderText{
	background: #c3d41a;
}
.swiper-slide:nth-child(19) .sliderText{
	background: #ff9800;
}
.swiper-slide:nth-child(20) .sliderText{
	background: #c33ada;
}
.swiper-slide:nth-child(21) .sliderText{
	background: #2196f3;
}
.swiper-slide:nth-child(22) .sliderText{
	background: #e91e63;
}
.swiper-slide:nth-child(23) .sliderText{
	background: #c3d41a;
}
.swiper-slide:nth-child(24) .sliderText{
	background: #ff9800;
}
.swiper-slide:nth-child(25) .sliderText{
	background: #c33ada;
}
.swiper-slide:nth-child(26) .sliderText{
	background: #2196f3;
}
.swiper-slide:nth-child(27) .sliderText{
	background: #e91e63;
}
.swiper-slide:nth-child(28) .sliderText{
	background: #c3d41a;
}
.swiper-slide:nth-child(29) .sliderText{
	background: #ff9800;
}
.swiper-slide:nth-child(30) .sliderText{
	background: #c33ada;
}
.swiper-slide:nth-child(31) .sliderText{
	background: #2196f3;
}
.swiper-slide:nth-child(32) .sliderText{
	background: #e91e63;
}
.swiper-slide:nth-child(33) .sliderText{
	background: #c3d41a;
}
.swiper-slide:nth-child(34) .sliderText{
	background: #ff9800;
}
.swiper-slide:nth-child(35) .sliderText{
	background: #c33ada;
}
.swiper-slide:nth-child(36) .sliderText{
	background: #2196f3;
}
.swiper-slide:nth-child(37) .sliderText{
	background: #e91e63;
}
.swiper-slide:nth-child(38) .sliderText{
	background: #c3d41a;
}
.swiper-slide:nth-child(39) .sliderText{
	background: #ff9800;
}
.swiper-slide:nth-child(40) .sliderText{
	background: #c33ada;
}
.swiper-slide:nth-child(41) .sliderText{
	background: #2196f3;
}
.swiper-slide:nth-child(42) .sliderText{
	background: #e91e63;
}
.swiper-slide:nth-child(43) .sliderText{
	background: #c3d41a;
}
.swiper-slide:nth-child(44) .sliderText{
	background: #ff9800;
}
.swiper-slide:nth-child(45) .sliderText{
	background: #c33ada;
}
.swiper-slide:nth-child(46) .sliderText{
	background: #2196f3;
}
.swiper-slide:nth-child(47) .sliderText{
	background: #e91e63;
}
.swiper-slide:nth-child(48) .sliderText{
	background: #c3d41a;
}
.swiper-slide:nth-child(49) .sliderText{
	background: #ff9800;
}
.swiper-slide:nth-child(50) .sliderText{
	background: #c33ada;
}
.swiper-slide:nth-child(51) .sliderText{
	background: #2196f3;
}
.swiper-slide:nth-child(52) .sliderText{
	background: #e91e63;
}
.swiper-slide:nth-child(53) .sliderText{
	background: #c3d41a;
}
.swiper-slide:nth-child(54) .sliderText{
	background: #ff9800;
}
.swiper-slide:nth-child(55) .sliderText{
	background: #c33ada;
}
.swiper-slide:nth-child(56) .sliderText{
	background: #2196f3;
}
.swiper-slide:nth-child(57) .sliderText{
	background: #e91e63;
}
.swiper-slide:nth-child(58) .sliderText{
	background: #c3d41a;
}
.swiper-slide:nth-child(59) .sliderText{
	background: #ff9800;
}
.swiper-slide:nth-child(60) .sliderText{
	background: #c33ada;
}
.swiper-slide:nth-child(61) .sliderText{
	background: #2196f3;
}
.swiper-slide:nth-child(62) .sliderText{
	background: #e91e63;
}
.swiper-slide:nth-child(63) .sliderText{
	background: #c3d41a;
}
.swiper-slide:nth-child(64) .sliderText{
	background: #ff9800;
}
.swiper-slide:nth-child(65) .sliderText{
	background: #c33ada;
}
a{
	position: absolute;
	transform: translate(-50%, -50%);
	width: 200px;
	height: 60px;
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: sans-serif;
	box-sizing: border-box;
	background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
	background-size: 400%;
	border-radius: 20px;
}
a:hover{
	animation: animate 8s linear infinite;
}

@keyframes animate{
	0%{
		background-position: 0%;
	}
	100%{
		background-position: 400%;
	}
}

a:before{
	position: absolute;
	top: -5px;
	left: -5px;
	right: -5px;
	bottom: -5px;
	background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
	background-size: 400%;
	border-radius: 20px;
	opacity: 0;
	transition: 0.5s;
}
a:hover:before{
	filter: blur(20px);
	opacity: 0.5;
	animation: animate 8s linear infinite;
}
